<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
    <table>
      <tr>
        <th><%= f.submit 'Updeate Book' %></th>
      </tr>
    </table>
<% end %>   

<table>
  <tr>
    <th><%= link_to "Show", book_path %></th>
    <th><%= link_to 'Back', books_path %></th>
  </tr>
</table>
