<%= flash[:notice] %>

<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
    
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
    <table >
      <tr>
        <th><%= f.submit 'Update Book' %></th>
      </tr>
    </table>
<% end %>   

<table >
  <tr>
    <%= link_to "Show", book_path %>
    | <%= link_to 'Back', books_path %>
  </tr>
</table>
