<div>
<%= flash[:notice] %>
</div>
<body>
<table>
  <tr>
    <th><p>本のタイトル：<%= @book.title %></p>
    </th>
  </tr>
  <tr>
    <th><p>感想：<%= @book.body %><p/>
    </th>
  </tr>
</table>
</body>

<table >
  <tr>
    <%= link_to "Edit", edit_book_path %>
    | <%= link_to 'Back', books_path %>
  </tr>
</table>

